html {
padding: 8px 25px;
list-style: none;
background: #282828;
color: #ffffff; 
font-family: monospace; }

div.center {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 900;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 900;
}


/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #BBBBBB;
}


.slidein {
  font-size: 2em; 
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:5%;
    width:100%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fl
{
    height: 470px;
    float: left;
    margin: 10;
    padding: 10;
} 

.center
{

  text-align: center;
  margin: 0 auto;
}

.w70
{
 width: 60%;
 height: 82;
}

.graph
{
	width: 850px;
	height: 650px;
}

.canvas
{
	width: 840px;
	height: 600px;
}

